h1 {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#text {
    text-align: center;
    font-size: 20px;
    margin-top: 200px;
}

img {
    max-width: 70%;
    max-height: 100vh;
    display: block;
    margin: 20px auto;
}

ul {
    list-style-type: none;
    text-align: center;
}

#imageInfo {
    position: fixed;
}
